name: Validate renovate config

on:
  push:
    branches: [main]
  pull_request:

jobs:
  validate-config:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.x
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node
      - name: Validate renovate config
        run: |
          for file in *.json*
          do
            echo "[CI] Let's validate $file"
            RENOVATE_CONFIG_FILE=${file} npx --package renovate -c 'renovate-config-validator'
          done
